<mat-card class="text-primary" *ngIf="type === 'created_thread'">
  <mat-card-header>
    <div class="row w-100 m-0">
      <div class="col-md-8 pl-md-0">
        <p>Published a thread:
          <a [routerLink]="['/threads', data.subject.channel.slug, data.subject.id]" class="link-secondary"><b>{{ data.subject.title }}</b></a>
        </p>
      </div>
      <div class="col-md-4 text-md-right pr-md-0">
        <b [ngPlural]="data.subject.replies_count">
          <ng-template ngPluralCase="=0">no comments</ng-template>
          <ng-template ngPluralCase="=1">{{ data.subject.replies_count }} comment</ng-template>
          <ng-template ngPluralCase="other">{{ data.subject.replies_count }} comments</ng-template>
        </b>
        <b> - {{ data.made_at }}</b>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <hr>
    <div class="row">
      <div class="col">
        <p>{{ data.subject.body }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="text-primary" *ngIf="type === 'created_reply'">
  <mat-card-header>
    <div class="row w-100 m-0 justify-content-between">
      <div class="col-md-8 pl-md-0">
        <p>
          Replied to
          <b>
            <a [routerLink]="['/threads', data.subject.thread.channel.slug, data.subject.thread.id]" class="link-secondary">
              {{ data.subject.thread.title }}
            </a>
          </b>
        </p>
      </div>
      <div class="col-md-4 text-md-right pr-md-0">
        <b>{{ data.made_at }}</b>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <hr>
    <div class="row">
      <div class="col">
        <p><i>"{{ data.subject.body }}"</i></p>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="text-primary" *ngIf="type === 'created_favorite'">
  <mat-card-header>
    <div class="row w-100 m-0 justify-content-between">
      <div class="col-md-8 pl-md-0">
        <p>
          Favorited a Reply from
          <a [routerLink]="['/threads', data.subject.favorited.thread.channel.slug, data.subject.favorited.thread.id]" class="link-secondary">
            <b>{{ data.subject.favorited.thread.title }}</b>
          </a>
        </p>
      </div>
      <div class="col-md-4 text-md-right pr-md-0">
        <b>{{ data.made_at }}</b>
      </div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <hr>
    <div class="row">
      <div class="col">
        <p><i>"{{ data.subject.favorited.body }}"</i></p>
      </div>
    </div>
  </mat-card-content>
</mat-card>

