<button type="button" mat-raised-button class="btn bg-secondary text-white" (click)="subscribe()" *ngIf="!thread.subscribed">
  <b>Subscribe</b>
</button>

<button type="button" mat-raised-button class="btn bg-danger text-white" (click)="unsubscribe()" *ngIf="thread.subscribed">
  <b>Unsubscribe</b>
</button>
