<div *ngIf="notifications && notifications.length">

  <button class="text-white" mat-icon-button [matMenuTriggerFor]="users_notifications_menu">
    <mat-icon aria-label="Example icon-button with a heart icon">notifications</mat-icon> {{ notifications.length }}
  </button>

  <mat-menu #users_notifications_menu="matMenu" class="bg-primary" yPosition="below" [overlapTrigger]="false">
    <button mat-menu-item class="text-white link-secondary" *ngFor="let notification of notifications"
            [routerLink]="['/threads', notification.data.channel_slug, notification.data.thread_id]"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLinkActive]="['active']" (click)="markAsRead(notification.id)">
      <small title="{{ notification.data.message }}">{{ notification.data.message }}</small>
    </button>
  </mat-menu>
</div>
