<mat-card class="text-primary my-3" *ngIf="repliesData">

  <mat-card-header>
    <h2 class="text-secondary">Replies</h2>
  </mat-card-header>

  <mat-card-content >
    <div class="row w-100" *ngFor="let reply of repliesData.items; let last = last;">

      <div id="reply-{{ reply.id }}" class="col">
        <app-reply [reply]="reply" (onDelete)="get()" (onUpdate)="get()"></app-reply>
        <hr *ngIf="!last">
      </div>

    </div>

    <div class="row justify-content-center mt-3" *ngIf="repliesData && repliesData.last_page > 1">
      <div class="col-md-8">
        <app-paginator
          [currentPage]="repliesData.current_page"
          [lastPage]="repliesData.last_page"
          (getPage)="get($event)"
        ></app-paginator>
      </div>
    </div>

  </mat-card-content>

</mat-card>

<app-new-reply [thread]="thread" (onStore)="get()"></app-new-reply>
