<div class="container py-5" *ngIf="threads">

  <div class="row">
    <div class="col">
      <h1 *ngIf="threads.length > 0" class="text-secondary">Forum Threads</h1>
      <p *ngIf="threads.length <= 0" class="text-primary-light text-center h2">There are no relevant results at this time</p>
    </div>
  </div>

  <div class="row py-3" *ngFor="let thread of threads; let last = last;">
    <div class="col">
      <app-thread [thread]="thread"></app-thread>
    </div>
  </div>

  <div class="row justify-content-center mt-3" *ngIf="threadsData && threadsData.last_page > 1">
    <div class="col-md-8">
      <app-paginator
        [currentPage]="threadsData.current_page"
        [lastPage]="threadsData.last_page"
        (getPage)="getPage($event)"
      ></app-paginator>
    </div>
  </div>

</div>
