<mat-card class="text-primary">

  <mat-card-header>
    <div class="w-100 d-flex justify-content-between mb-1">
      <div class="p-0">
        <h5 class="m-0">
          <a class="link-secondary"
             *ngIf="thread.has_updates"
             [routerLink]="['/threads', thread.channel.slug, thread.id]">
            <b>{{ thread.title }}</b>
          </a>
          <a class="link-secondary"
             *ngIf="!thread.has_updates"
             [routerLink]="['/threads', thread.channel.slug, thread.id]">
            {{ thread.title }}
          </a>
        </h5>
        <h6>Posted By:
          <a class="link-secondary" [routerLink]="['/profiles', thread.creator.name]">{{thread.creator.name}}</a>
        </h6>
      </div>
      <div>
        <b [ngPlural]="thread.replies_count">
          <ng-template ngPluralCase="=0">no comments</ng-template>
          <ng-template ngPluralCase="=1">{{ thread.replies_count }} comment</ng-template>
          <ng-template ngPluralCase="other">{{ thread.replies_count }} comments</ng-template>
        </b>
        <b> - {{ thread.published_at }}</b>
      </div>
    </div>

  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col">
        <div class="py-1">
          <p>{{ thread.body }}</p>
        </div>
      </div>
    </div>
  </mat-card-content>

</mat-card>
