.bg-primary-light {
  background-color: #62727b !important;
}

.bg-primary {
  background-color: #37474f !important;
}

.bg-primary-dark {
  background-color: #102027 !important;
}

.bg-secondary-light {
  background-color: #4fb3bf !important;
}

.bg-secondary {
  background-color: #00838f !important;
}

.bg-secondary-dark {
  background-color: #005662 !important;
}
