.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #00838f;
  border-color: #00838f;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #37474f;
  background-color: #fff;
  border: 1px solid #ddd;

  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.page-link:focus, .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #4fb3bf;
  border-color: #4fb3bf;
}

.page-link:disabled {
  color: #aaa;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}
