.text-primary-light {
  color: #62727b !important;
}

.text-primary {
  color: #37474f !important;
}

.text-primary-dark {
  color: #102027 !important;
}

.text-secondary-light {
  color: #4fb3bf !important;
}

.text-secondary {
  color: #00838f !important;
}

.text-secondary-dark {
  color: #005662 !important;
}

.text-white {
  color: #fff !important;
}
