<div class="container py-5 text-primary" *ngIf="thread">

  <div class="row py-3">
    <div class="col-md-8">
      <mat-card class="text-primary my-3">

        <mat-card-header class="justify-content-center">
          <div class="row w-100">
            <div class="col-md">
              <p class="h5">
                <a [routerLink]="['/profiles', thread.creator.name]" class="link-secondary"><b>{{ thread.creator.name }}</b></a>
                posted: {{ thread.title }}
              </p>
            </div>
            <div class="col-md-3 text-md-right" *ngIf="thread.can_update">
              <button mat-icon-button color="warn" (click)="delete()">
                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
              </button>
            </div>
            <div class="w-100"><hr></div>
          </div>
        </mat-card-header>

        <mat-card-content>
          <p>
            {{ thread.body }}
          </p>
        </mat-card-content>

      </mat-card>

      <app-replies [thread]="thread"></app-replies>

    </div>

    <div class="col-md-4">

      <mat-card class="text-primary my-3">

        <mat-card-content>
          <p>This thread was published {{ thread.published_at }} by
            <a [routerLink]="['/profiles', thread.creator.name]" class="link-secondary"><b>{{ thread.creator.name }}</b></a> and currently have
            <span [ngPlural]="thread.replies_count">
              <ng-template ngPluralCase="=0">no comments</ng-template>
              <ng-template ngPluralCase="=1">{{ thread.replies_count }} comment</ng-template>
              <ng-template ngPluralCase="other">{{ thread.replies_count }} comments</ng-template>
            </span>
          </p>
          <app-subscribe-button [thread]="thread" (onUpdate)="get()"></app-subscribe-button>
        </mat-card-content>

      </mat-card>

    </div>

  </div>

</div>
