<nav class="navbar navbar-expand-md bg-primary sticky-top navbar-inverse">
  <a routerLink="/" class="navbar-brand text-white link-secondary-light mx-3 my-1"><b>Forum</b></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav-content" aria-controls="main-nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-cog fa-lg fa-fw text-white" aria-hidden="true"></i>
  </button>

  <div class="collapse navbar-collapse" id="main-nav-content">

    <ul class="navbar-nav">

      <li class="nav-item text-center">
        <a class="nav-link text-white link-secondary-light" [matMenuTriggerFor]="threads_menu">
          <b>Browse</b>
        </a>
        <mat-menu #threads_menu="matMenu" class="bg-primary" yPosition="below" [overlapTrigger]="false">
          <button mat-menu-item class="text-white link-secondary"
                  [routerLink]="['threads']"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">
            <span><b>All Threads</b></span>
          </button>
          <button mat-menu-item class="text-white link-secondary" *ngIf="loggedIn() && loggedInUser"
                  [routerLink]="['/threads']"
                  [queryParams]="{'by': loggedInUser.name}"
                  [routerLinkActiveOptions]="{ exact: true }"
                  [routerLinkActive]="['active']">
            <span><b>My Threads</b></span>
          </button>
          <button mat-menu-item class="text-white link-secondary"
                  [routerLink]="['/threads']"
                  [queryParams]="{'popular': '1'}"
                  [routerLinkActiveOptions]="{ exact: true }"
                  [routerLinkActive]="['active']">
            <span><b>Popular Threads</b></span>
          </button>
          <button mat-menu-item class="text-white link-secondary"
                  [routerLink]="['/threads']"
                  [queryParams]="{'unanswered': '1'}"
                  [routerLinkActiveOptions]="{ exact: true }"
                  [routerLinkActive]="['active']">
            <span><b>Unanswered Threads</b></span>
          </button>
        </mat-menu>
      </li>

      <li class="nav-item text-center">
        <a class="nav-link text-white link-secondary-light"
           [routerLink]="['/threads/create']"
           [routerLinkActive]="['active']"
           [routerLinkActiveOptions]="{ exact: true }">
          <b>New Thread</b>
        </a>
      </li>

      <li class="nav-item text-center" *ngIf="channels.length > 0">
        <a class="nav-link text-white link-secondary-light" [matMenuTriggerFor]="channels_menu">
          <b>Channels</b>
        </a>
        <mat-menu #channels_menu="matMenu" class="bg-primary" yPosition="below" [overlapTrigger]="false">
          <button mat-menu-item class="text-white link-secondary" *ngFor="let channel of channels"
                  [routerLink]="['/threads', channel.name]"
                  [routerLinkActive]="['active']">
            <span><b>{{ channel.name }}</b></span>
          </button>
        </mat-menu>
      </li>

    </ul>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item text-center" *ngIf="loggedIn() && loggedInUser">
        <app-user-notifications [user]="loggedInUser"></app-user-notifications>
      </li>

      <li class="nav-item text-center" *ngIf="loggedIn()">
        <a class="nav-link text-white link-secondary-light" [matMenuTriggerFor]="profile_menu">
          <b *ngIf="loggedInUser">{{ loggedInUser.name }}</b>
          <b *ngIf="!loggedInUser">Settings</b>
        </a>
        <mat-menu #profile_menu="matMenu" class="bg-primary" yPosition="below" [overlapTrigger]="false">
          <button mat-menu-item class="text-white link-secondary" *ngIf="loggedIn() && loggedInUser"
                  [routerLink]="['/profiles', loggedInUser.name]"
                  [routerLinkActiveOptions]="{ exact: true }"
                  [routerLinkActive]="['active']">
            <span><b>Profile</b></span>
          </button>
          <button mat-menu-item class="text-white link-secondary" (click)="logout()">
            <span><b>Logout</b></span>
          </button>
        </mat-menu>
      </li>

      <li class="nav-item text-center" *ngIf="!loggedIn()">
        <a class="nav-link text-white link-secondary-light"
           [routerLink]="['login']"
           [routerLinkActive]="['active']">
          <b>Login</b>
        </a>
      </li>

    </ul>
  </div>

</nav>
