<div class="container py-5" *ngIf="channels">

  <div class="row justify-content-center py-3">
    <div class="col-md-8">
      <mat-card class="text-primary">

        <mat-card-header>
          <div class="w-100">
            <h2 class="text-secondary text-center">Create a new thread</h2>
          </div>
        </mat-card-header>

        <mat-card-content>
          <form class="pt-5" [formGroup]="createThreadForm" (ngSubmit)="onNewThreadSubmit()">

            <div class="row justify-content-center py-1">
              <div class="col">

                <mat-form-field class="w-100">
                  <mat-select placeholder="Choose a channel" formControlName="channel_id" required
                              data-placement="top" data-trigger="hover" data-toggle="popover" data-html="true" data-content="Select a valid <b>channel</b>">
                    <mat-option *ngFor="let channel of channels" [value]="channel.id">
                      {{channel.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="invalidInput('channel_id')">Channel is required</mat-error>
                </mat-form-field>

              </div>
            </div>

            <div class="row justify-content-center py-1">
              <div class="col">

                <mat-form-field class="w-100">
                  <input matInput placeholder="Enter thread title" formControlName="title" required
                         data-placement="top" data-trigger="hover" data-toggle="popover" data-html="true" data-content="Place a valid <b>title</b>">
                  <mat-error *ngIf="invalidInput('title')">Invalid title</mat-error>
                  <mat-hint align="end">{{ createThreadForm.controls['title'].value.length }} / 255</mat-hint>
                </mat-form-field>

              </div>
            </div>

            <div class="row justify-content-center py-1">
              <div class="col">

                <mat-form-field class="w-100">
                  <textarea matInput placeholder="Have something to say?" formControlName="body" required rows="8"
                            data-placement="top" data-trigger="hover" data-toggle="popover" data-html="true"
                            data-content="Place a <b>reply</b>"
                  ></textarea>
                  <mat-error *ngIf="invalidInput('body')">Body is empty</mat-error>
                </mat-form-field>

              </div>
            </div>

            <div class="row">
              <div class="col text-center">
                <button type="submit" mat-raised-button class="btn bg-secondary text-white" [disabled]="!createThreadForm.valid"><b>Publish</b></button>
              </div>
            </div>

          </form>

          <div class="row mt-5">
            <div class="col">
              <app-form-errors-alert [errors]="errors" ></app-form-errors-alert>
            </div>
          </div>

        </mat-card-content>

      </mat-card>
    </div>
  </div>

</div>
