<div class="container py-5">

  <form class="py-5" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">

    <div class="row justify-content-center">

      <div class="col-md-5">
        <mat-card>

          <mat-card-header>
            <div class="w-100">
              <h2 class="text-center text-secondary">Login</h2>
            </div>
          </mat-card-header>

          <mat-card-content>

            <div class="row justify-content-center py-1">
              <div class="col-md-10">

                <mat-form-field class="w-100" hintLabel="jdoe@typeiqs.com">
                  <input matInput placeholder="Enter your email" formControlName="email" required
                         data-placement="top" data-trigger="hover" data-toggle="popover" data-html="true" data-content="Place a valid <b>email</b>">
                  <mat-error *ngIf="invalidInput('email')">Invalid email</mat-error>
                </mat-form-field>

              </div>
            </div>

            <div class="row justify-content-center py-1">
              <div class="col-md-10">

                <mat-form-field class="w-100">
                  <input matInput placeholder="Enter your password" formControlName="password" type="password" required
                         data-placement="top" data-trigger="hover" data-toggle="popover" data-html="true"
                         data-content="Place a valid <b>password</b>">
                  <mat-error *ngIf="invalidInput('password')">Invalid password</mat-error>
                </mat-form-field>

              </div>
            </div>

            <div class="row justify-content-center mt-3">
              <div class="col-md-4 col-lg-3">
                <button type="submit" mat-raised-button class="btn bg-secondary text-white" [disabled]="!loginForm.valid">
                  <b>Sign In</b>
                </button>
              </div>
            </div>

            <app-form-errors-alert [errors]="errors" ></app-form-errors-alert>

          </mat-card-content>

        </mat-card>
      </div>

    </div>

  </form>

</div>
