<button mat-icon-button color="warn" (click)="favorite(reply)" [ngClass]="ifFavorited(reply.favorited)" [disabled]="!isloggedIn()">
  <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon> {{ reply.favorites_count }}
</button>
