<form class="py-3" *ngIf="isLoggedIn(); else not_logged_in" [formGroup]="storeForm" (ngSubmit)="onSubmit()">

  <div class="row justify-content-center py-1">
    <div class="col">
        <mat-form-field class="w-100">
          <mwl-text-input-autocomplete-container>
            <textarea mwlTextInputAutocomplete [findChoices]="findChoices"
                      [getChoiceLabel]="getChoiceLabel" matInput placeholder="Have something to say?" formControlName="body" required rows="5"
                      data-placement="top" data-trigger="hover" data-toggle="popover" data-html="true"
                      data-content="Place a <b>reply</b>"
            ></textarea>
          </mwl-text-input-autocomplete-container>
          <mat-error *ngIf="invalidInput('body')">Invalid Reply</mat-error>
        </mat-form-field>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col">
      <app-form-errors-alert [errors]="errors" ></app-form-errors-alert>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-lg-3">
      <button type="submit" mat-raised-button class="btn bg-secondary text-white" [disabled]="!storeForm.valid"><b>Post</b></button>
    </div>
  </div>

</form>

<ng-template #not_logged_in>

  <div class="row py-2">
    <div class="col">

      <p class="text-primary-light text-center h5">
        Please, <a class="link-secondary" [routerLink]="['/login']"><b>Sign In</b></a> to participate in this discussion.
      </p>

    </div>
  </div>

</ng-template>
