<div class="container py-5" *ngIf="profile">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-secondary">
        {{ profile.name }}
        <small class="text-primary">Since {{ profile.since_at }}</small>
      </h1>
      <hr>
    </div>
  </div>

  <div class="row justify-content-center py-3" *ngIf="profile.activities_data.items <= 0">
    <p class="h5 text-primary">There is no activity for this user yet.</p>
  </div>

  <div class="row justify-content-center py-3" *ngFor="let activity of profile.activities_data.items">
    <div class="col-md-8">
      <app-activities [type]="activity.type" [data]="activity" [profile]="profile"></app-activities>
    </div>
  </div>

  <div class="row justify-content-center py-3" *ngIf="profile.activities_data && profile.activities_data.last_page > 1">
    <div class="col-md-8">
      <app-paginator
        [lastPage]="profile.activities_data.last_page"
        [currentPage]="profile.activities_data.current_page"
        (getPage)="getProfile(username, $event)"
      ></app-paginator>
    </div>
  </div>
</div>
