<div [ngClass]="alertCssClasses()" class="alert alert-info alert-flash" role="alert" *ngIf="type == 'info'">
  <strong><i class="fa fa-info" aria-hidden="true"></i></strong> {{ body }}
</div>

<div [ngClass]="alertCssClasses()" class="alert alert-success alert-flash" role="alert" *ngIf="type == 'success'">
  <strong><i class="fa fa-check" aria-hidden="true"></i></strong> {{ body }}
</div>

<div [ngClass]="alertCssClasses()" class="alert alert-warning alert-flash" role="alert" *ngIf="type == 'warning'">
  <strong><i class="fa fa-exclamation" aria-hidden="true"></i></strong> {{ body }}
</div>

<div [ngClass]="alertCssClasses()" class="alert alert-danger alert-flash" role="alert" *ngIf="type == 'danger'">
  <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> {{ body }}
</div>
