<nav aria-label="Pagination" *ngIf="pagination">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <button class="page-link" [disabled]="currentPage <= 1" (click)="onRefresh(currentPage - 1)" tabindex="-1">Previous</button>
    </li>
    <li *ngFor="let page of pagination; let i = index;" class="page-item active" [ngClass]="{'active': currentPage == i + 1}">
      <button class="page-link" (click)="onRefresh(page)">{{ page }}</button>
    </li>
    <li class="page-item">
      <button class="page-link" [disabled]="currentPage >= lastPage" (click)="onRefresh(currentPage + 1)">Next</button>
    </li>
  </ul>
</nav>
