.dropdown-menu li {
  padding: 5px;
}

.dropdown-menu .active {
  background: #00838f;
  padding: 3px;
}

.dropdown-menu .active a {
  color: #ffffff;
}

.dropdown-menu a {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.dropdown-menu a:hover {
  color: #00838f;
}
