a {
  color: #37474f;
  cursor: pointer;
  text-decoration: none !important;
}

.link-primary,.link-secondary,
.link-primary-dark,.link-secondary-dark,
.link-primary-light,.link-secondary-light {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.link-primary-light:hover {
  color: #62727b !important;
}

.link-primary:hover {
  color: #37474f !important;
}

.link-primary-dark:hover {
  color: #102027 !important;
}

.link-secondary-light:hover {
  color: #4fb3bf !important;
}

.link-secondary:hover {
  color: #00838f !important;
}

.link-secondary-dark:hover {
  color: #005662 !important;
}
