<div class="py-1">

  <div class="row">
    <div class="col-md">
      <h5>
        <a [routerLink]="['/profiles', reply.owner.name]" class="link-secondary"><b>{{ reply.owner.name }}</b></a>
        said {{ reply.posted_at }}...
      </h5>
    </div>
    <div class="col-md-2 text-md-right">
      <app-favorite [reply]="reply" (onDestroy)="onUpdate.emit()" (onUpdate)="onUpdate.emit()"></app-favorite>
    </div>
  </div>

  <div *ngIf="replyEditedId == reply.id; then edit_reply_form"></div>
  <div *ngIf="replyEditedId !== reply.id"
       [innerHTML]="reply.body | wrapUsernamesWithinLinks:reply.mentioned_usernames | safeHtml"
       appRoute
  ></div>

  <div class="row" *ngIf="reply.can_update">
    <div class="col">
      <button mat-icon-button class="text-secondary" (click)="edit(reply)">
        <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="delete(reply.id)">
        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
      </button>
    </div>
  </div>
</div>

<ng-template #edit_reply_form>

  <form class="py-3" (ngSubmit)="onEditSubmit()">

    <div class="row justify-content-center py-1">
      <div class="col">
        <mat-form-field class="w-100">
              <textarea matInput placeholder="Have something to say?" name="body" [(ngModel)]="body" required rows="5"
                        data-placement="top" data-trigger="hover" data-toggle="popover" data-html="true"
                        data-content="Place a <b>reply</b>"
              ></textarea>
          <mat-error *ngIf="!body || body == ''">Invalid Reply</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col">
        <app-form-errors-alert [errors]="errors" ></app-form-errors-alert>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" mat-raised-button class="btn bg-secondary text-white" [disabled]="!body || body == ''"><b>Update</b></button>
        <a class="btn link-secondary" (click)="clearEdit()"><b>Cancel</b></a>
      </div>
    </div>

  </form>

</ng-template>
